<div class="login-container">
  <div class="login-box">
    <p class="signup-text">Don't have an account? <a [routerLink]="['/signup']">Sign Up</a></p>
    <h2 class="login-title">Login</h2>

    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="input-group">
        <i class="fa fa-user"></i>
        <input type="email" placeholder="Email" name="email" [(ngModel)]="email" required />
      </div>

      <div class="input-group">
        <i class="fa fa-lock"></i>
        <input type="password" placeholder="Password" name="password" [(ngModel)]="password" required />
      </div>

      <button type="submit" class="sign-in-btn">Sign in</button>

      <div class="options">
        

      </div>
    </form>
  </div>
</div>
