<nav class="navbar navbar-expand-md px-2">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand">
      <span>REMP</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/properties">properties</a>
        </li>
        <li class="nav-item ms-2">
          <img
            style="cursor: pointer"
            class=""
            width="35"
            src="assets/Group.png"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>
</nav>
